* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

a {
    margin-left: auto;
	margin-right: auto;
}

#titulo {
    
    display: flex;
    margin-left: 10%;
    font-size: 4vw;
}



#btn {
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 1vw;
    font-weight: 500;
    letter-spacing: 2px;
    background: #110011;
    border-radius: 30px; 
    transform: translateY(20px); 
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

#btn:hover {
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
  outline-color: rgba(49, 138, 172, 0);
  background: rgb(190, 255, 244);
  color: #000;
  outline-offset: 80px;
  text-shadow: 1px 1px 6px #fff;

}

header {
    width: 100%;
    height: 100vh;
    position: sticky;
    top: calc(-100vh + 3em);
    z-index: 1;
    background-image: url(../img/fotografia-de-arquitectura-02-100.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

header > p {
    font-size: 2em;
}

.parallax {
    height: 350px;
    background-image: url(../img/luna.jpg);
    background-position: bottom center;
    background-size: cover;
    background-attachment: fixed;
}

body {
    background-color: rgb(255, 255, 255);
}

#titulo2 {
    display: flex;
    margin-left: 10%;
    font-size: 4vw;
}

.inicio {
    display: flex;
}


#btn2 {
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 1vw;
    font-weight: 500;
    letter-spacing: 2px;
    background: #110011;
    border-radius: 30px; 
    transform: translateY(20px); 
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

#btn2:hover {
  /* box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5), 0 0 20px rgba(49, 138, 172, 0.4); */
  outline-color: rgba(49, 138, 172, 0);
  background: rgb(255, 255, 255);
  color: #000;
  border: 2px black solid;
  outline-offset: 80px;
  /* text-shadow: 1px 1px 6px #fff; */

}

  
.container  {
    
    max-width: 1200px;
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 100px 0;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-items: baseline;

}

.box .img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.box:nth-child(1) {
    grid-template-columns: span ;
}

.box:nth-child(4) {
    grid-template-columns: span ;
}

@media(max-width:991px) {
    .container {
        padding: 30px;
        grid-template-columns:repeat(1, 1fr);
    }

    .box:nth-child(1) {
        grid-column-start: span 1 ;
    }
    .box:nth-child(4) {
        grid-column-start: span 1 ;
    }

}

.box {
    transition: all 0.8s ease;
    filter: grayscale(1);
}

.box:hover {
    transition: all 0.6s ease;
    filter: saturate(1);
}