* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}


a {
    margin-left: auto;
	margin-right: auto;
}



#titulo {
    color: rgb(255, 255, 255);
    display: flex;
    margin-left: 10%;
    /* margin-bottom: 20%; */
    font-size: 7vw;
}



#btn {
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 2vw;
    font-weight: 500;
    letter-spacing: 2px;
    background: #110011;
    border-radius: 30px; 
    transform: translateY(20px); 
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

#btn:hover {
  /* box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5), 0 0 20px rgba(49, 138, 172, 0.4); */
  outline-color: rgba(49, 138, 172, 0);
  background: rgb(255, 255, 255);
  color: #000;
  border: 2px black solid;
  outline-offset: 80px;
  /* text-shadow: 1px 1px 6px #fff; */

}

header {
    width: 100%;
    height: 100vh;
    position: sticky;
    top: calc(-100vh + 3em);
    z-index: 1;
    background-image: url(../img/unnamed.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
}

header > p {
    font-size: 2em;
}

#menu {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
}

#menu > ul {
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu > ul > li {
    list-style: none;
}

a {
    color: grey;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#menu > i,
#menu > ul > li > a,
#menu > ul > li:last-child {
    color: white;
}

#menu > i,
#menu > ul > li:last-child {
    display: none;
}

section {
    width: 80%;
    max-width: 1500px;
    margin: auto;
    padding: 3em 0;
}

h2,
p,
section > ul {
    margin: 1rem 0;
}

@media screen and (max-width: 750px) {

    header > p {
        font-size: 1.5em;
    }

    #menu > i {
        display: block;
        cursor: pointer;
    }

    #menu > ul {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        z-index: 1;
        padding: 30% 0;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.9);
        transition-duration: 1s;
    }


    #menu > ul > li > a {
        text-decoration: none;
        font-size: 2em;
    }

    #menu > ul > li:last-child {
        display: block;
        position: absolute;
        right: 2em;
        top: 2em;
    }

    #menu > ul > li:last-child > i {
        color: white;
        font-size: 2em;
        cursor: pointer;
    }
}

body {
    background-color: rgb(255, 255, 255);
}

#titulo2 {
    display: flex;
    margin-left: 10%;
    font-size: 4vw;
}

#buttons{
    width: 100%;
    height: 4vw;
    display: flex;
}


#btn2 {
    text-decoration: none;
    display: inline-block;
    padding: 20px 20px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 1vw;
    font-weight: 500;
    letter-spacing: 2px;
    background: #110011;
    border-radius: 30px;
    display: flex;
    align-items: center;
    transform: translateY(20px); 
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

#btn2:hover {
  outline-color: rgba(49, 138, 172, 0);
  background: rgb(255, 255, 255);
  color: #000;
  border: 2px black solid;
  outline-offset: 80px;
  /* display: flex;
    align-items: center; */
  /* text-shadow: 1px 1px 6px #fff; */

}

@media screen and (max-width: 700px) {
    #btn2 {
        text-decoration: none;
        display: inline-block;
        padding: 10px 10px;
        color: #fff;
        font-family: 'Poppins', sans-serif;
        font-size: 9px;
        font-weight: 300;
        letter-spacing: 2px;
        background: #110011;
        border-radius: 30px;
        display: flex;
        align-items: center;
        transform: translateY(20px); 
        transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    }
}

#gallery{
    width: 100%;
    height: 20vw;
}

#footer > h5 > a {
    color: rgb(43, 135, 135);
}

#random {
    font-size: 1em;
}


.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
  
  
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}
  
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}
  
  
@media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
}
  
  
@media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
}


.column {
    transition: all 0.8s ease;
    filter: grayscale(1);
}

.column:hover {
    transition: all 0.6s ease;
    filter: saturate(1);
}